html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

i {
    cursor: pointer;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    display: flex;
    flex-flow: column;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #FDFFFD;
    outline: none;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}


/*-----------------navigation---------------*/

header {
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: #F8FEFF;
    justify-content: center;
}


/*------------------navbar----------------------*/

nav {
    width: 90%;
    display: flex;
    background-color: #F8FEFF;
    justify-content: space-between;
    align-items: center;
}

#nav-icon {
    display: none;
}

.nav_menu {
    display: flex;
}

.nav_menu p {
    margin-right: 30px;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: -4px;
}

.nav_menu ul {
    display: flex;
}

.nav_menu ul li {
    display: flex;
    margin-right: 10px;
    font-size: 0.8rem;
    color: #B3B3B3;
    cursor: pointer;
}

.nav_menu ul li:active,
.nav_menu ul li:hover {
    display: flex;
    margin-right: 10px;
    font-size: 0.8rem;
    color: #FD724C;
    transition: 0.3s;
}

.nav_menu ul li a {
    display: flex;
    margin-right: 10px;
    font-size: 0.8rem;
    color: #B3B3B3;
}

.nav_searchbox input {
    width: 120px;
    background-color: #ebebeb;
    border-radius: 50px;
    border-style: none;
    height: 25px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    padding-left: 15%;
}

input[type=searchbox]:focus {
    border: 2px solid #FD724C;
}

.nav_searchbox button {
    width: 60px;
    background-color: #ebebeb;
    border-radius: 50px;
    border-style: none;
    height: 25px;
    color: black;
    outline: none;
}

.nav_searchbox button:active,
.nav_searchbox button:hover {
    background-color: #FD724C;
    transition: 0.5s;
}

.nav_searchbox {
    display: flex;
    width: 22%;
    justify-content: space-between;
}

.nav_searchbox i {
    position: relative;
    left: 15%;
    margin-top: 2%;
}


/*---------------------main-----------------------*/

main {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #F8FEFF;
    flex-flow: column;
    align-items: center;
}

.loaction_hotel-mobile {
    display: none;
}


/*--------------------section--------------------*/

section {
    width: 90%;
    display: flex;
    flex-flow: column;
    background-color: #F8FEFF;
}

.banner {
    width: 100%;
    height: 40%;
    display: flex;
    background-color: #FAE0DB;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
}

.banner img {
    align-self: flex-start;
}

.banner_text {
    display: flex;
    flex-flow: column;
}

#banner_txt1 {
    font-size: 1rem;
    color: #21202F;
    margin-bottom: 10px;
}

#banner_txt2 {
    font-size: 1.5rem;
    color: #21202F;
    margin-bottom: 30px;
    font-weight: 600
}

.banner_button {
    width: 120px;
    height: 50px;
    background-color: #FDFFFD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}

.banner_button :active,
.banner_button:hover {
    background-color: #FD724C;
    transition: 1s;
}

.banner_button p {
    color: black;
    margin-right: 10px;
}


/*-----------------article----------------------*/

article {
    width: 100%;
    height: 60%;
    display: flex;
}


/*------------------aside-------------------*/

aside {
    width: 15%;
    height: 100%;
    display: flex;
    background-color: #FDFFFD;
    flex-flow: column;
}

aside p {
    color: black;
    font-size: 1.2;
    font-weight: 700;
    margin: 30px 0px;
}

aside ul {
    display: flex;
    flex-flow: column;
}

aside ul li {
    display: flex;
    margin-right: 10px;
    font-size: 0.8rem;
    color: #B3B3B3;
    cursor: pointer;
    margin-bottom: 15px;
}

aside ul li:active,
aside ul li:hover {
    display: flex;
    margin-right: 10px;
    font-size: 0.8rem;
    color: black;
    cursor: pointer;
    margin-bottom: 15px;
    margin-left: 15px;
    transition: 0.6s;
}


/*--------------------location---------------*/

.location {
    width: 85%;
    display: flex;
    background-color: #F8FEFF;
    flex-flow: column;
    align-items: center;
}


/*------------------location-hotel-----------*/

.loaction_hotel {
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#loaction_hotel-button {
    width: 19%;
    height: 80%;
    background-color: #FD724C;
    justify-content: center;
    border-style: none;
    border-radius: 10px;
    color: #faf3f1;
    cursor: pointer;
    outline: none;
}

.filter {
    width: 77%;
    height: 80%;
    display: flex;
    background-color: #ececec;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.filter_place,
.filter_date,
.filter_room {
    width: 33%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filter p,
.filter i {
    color: #7C7F88;
    font-size: 0.8rem;
}

.filter_date,
.filter_room {
    border-left: 2px solid #7C7F88;
}


/*------------------location-place-------------*/

.location_place {
    width: 100%;
    height: 80%;
    display: flex;
    background-color: #FDFFFD;
    justify-content: space-between;
}

.location_place_part1,
.location_place_part2,
.location_place_part3 {
    width: 30%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
}

.location_place_part1 p,
.location_place_part2 p,
.location_place_part3 p {
    font-size: 1.2rem;
    font-weight: 600;
}

.location_place_part1 img,
.location_place_part2 img,
.location_place_part3 img {
    margin-top: 20px;
    width: 100%;
}

.loaction_place-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.location-review {
    width: 45px;
    height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    padding: 0px 5px;
    margin-right: 10px;
    background-color: #7e848b;
    cursor: pointer;
}

.location-review p,
.location-review i,
.loaction_place-text p {
    font-size: 0.6rem;
}

#review-text {
    color: #BCBDBF;
}

.location-review p,
.location-review i {
    color: #DADEE9;
}


/*------------------footer----------------------*/

footer {
    width: 100%;
    height: 3vh;
    display: flex;
    background-color: #7e848b;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 0.3rem;
    color: rgb(230, 230, 230);
}


/*----------responsive(tablet)-------------------------*/

@media all and (max-width:800px) {
    body {
        flex: 1;
        display: flex;
    }
    main {
        display: flex;
        height: 700px;
    }
    article {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    aside {
        display: none;
    }
    .location_place_part1 p,
    .location_place_part2 p,
    .location_place_part3 p {
        font-size: 0.8rem;
        font-weight: 600;
    }
    .location-review p,
    .location-review i,
    .loaction_place-text p {
        font-size: 0.6rem;
    }
    .location {
        height: 380px;
        width: 100%;
    }
    .nav_menu {
        display: none;
    }
    #nav-icon {
        display: block;
    }
    header {
        display: flex;
        width: 78%;
    }
    nav {
        align-items: center;
        justify-content: space-between;
        margin-left: 3%;
    }
    .nav_searchbox input {
        padding-left: 35%;
        display: flex;
        margin-right: 3%;
    }
    .nav_searchbox {
        display: flex;
        justify-content: space-between;
    }
    .nav_searchbox button {
        justify-content: center;
        align-items: center;
        margin-left: 6%;
        padding: 0px 20%;
    }
    .nav_searchbox i {
        position: relative;
        left: 25%;
        margin-top: 6%;
    }
}


/*-------------------------responsive(mobile)----------------------*/

@media all and (max-width:580px) {
    body {
        flex-flow: column;
        flex: 1;
        display: flex;
    }
    section {
        height: 900px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    header {
        order: 1;
        width: 70%;
        display: flex;
    }
    aside {
        display: none;
    }
    main {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        order: 2;
        height: 1150px;
        padding-top: 15px;
    }
    article {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
    }
    .location_place {
        display: flex;
        flex-flow: column;
    }
    .location-review p,
    .location-review i,
    .loaction_place-text p {
        font-size: 0.6rem;
    }
    .location {
        height: 500px;
        width: 100%;
    }
    .location_place_part1,
    .location_place_part2,
    .location_place_part3 {
        width: 100%;
    }
    .loaction_place-text {
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .location_place_part1 p,
    .location_place_part2 p,
    .location_place_part3 p {
        font-size: 1.2rem;
        font-weight: 600;
        padding-top: 2%;
    }
    .location-review p,
    .location-review i,
    .loaction_place-text p {
        font-size: 0.6rem;
    }
    footer {
        height: 20px;
        width: 100%;
        max-width: 100%;
        order: 3;
        display: flex;
        align-self: flex-start;
    }
    .banner img {
        display: none;
    }
    .banner {
        height: 150px;
        width: 100%;
    }
    nav {
        display: flex;
        height: 80px;
        width: 80%;
        justify-content: space-between;
        margin-left: -3%;
    }
    .loaction_hotel {
        display: none;
    }
    .loaction_hotel-mobile {
        display: block;
        height: 100px;
        width: 90%;
        max-width: 90%;
        display: flex;
        justify-content: space-between;
    }
    #nav-icon {
        display: block;
    }
    .nav_searchbox input {
        padding-left: 60%;
        display: flex;
        margin-left: -5%;
    }
    .nav_searchbox {
        display: flex;
        justify-content: space-between;
    }
    .nav_searchbox button {
        justify-content: center;
        align-items: center;
        padding: 0px 22%;
        margin-left: 6%;
    }
    .nav_searchbox i {
        position: relative;
        left: 45%;
        margin-top: 10%;
    }
}